<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="styles/main.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                    <th scope="col">Label</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="log in logs" >
                    <td :data-id="log.id">{{ log.id.substring(0,5) + "..." }}</td>
                    <td>{{ log.date.toISOString() }}</td>
                    <td>{{ log.category }}</td>
                    <td>{{ log.title }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.label }}</td>
                </tr>
                </tbody>
            </table>

<!--            <ul>-->
<!--                <li v-for="log in logs">-->
<!--                    <div class="row">-->
<!--                        <span class="date-text">{{log.date.toISOString() }}:</span> <span class="log-text"> {{ log.category }}, {{ log.title }}, {{ log.action }}, {{ log.label }} </span>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
         <script src="scripts/main.js"></script>
         <script src="scripts/observer.js"></script>
    </body>
</html>


