.table {
    font-size: 15px;
}
#app {
    font-size: 20px;
    font-family: "Courier";

    margin: 10px 50px 50px 10px;
    line-height: 2.0;
}

ul {
    list-style-type: none;
}

li .log-text {
    background-color: #eef;
    padding: 5px;
}
/*.row:nth-child(odd) {*/
/*    background-color: #eef;*/
/*}*/

li:nth-child(odd) .log-text {
    background-color: #ccf;
}


.log-text {
    font-size: 20px;
    font-family: "Courier";
    font-weight: bold;
}


.date-text {
    font-size: 16px;
    font-family: "Courier";
    font-weight: 200;
}
